th{
	 padding-right:50px;
	background-color:red;
}
.w{
/* 	padding-right:10px; */
	background-color:darkred;
}
.c{
/* 	padding-right:10px; */
	background-color:darkorange;
}
.s{
/* 	padding-right:10px; */
	background-color:darkgray;
}
/* Your CSS Code here. */